<!-- tabla.ejs -->
<table class="tablas" cellpading="15px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Grado</th>
            <th>Sección</th>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.primerNombre %></td>
            <td><%= item.segundoNombre %></td>
            <td><%= item.apellidoPaterno %></td>
            <td><%= item.apellidoMaterno %></td>
            <td><%= item.grado %></td>
            <td><%= item.seccion %></td>
        </tr>
    <% }); %>
    </tbody>
</table>