<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/navigator.ejs') %>
        <!--<h1>El usuario conectado es el alumno: <strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Logout</a>-->
        <a href="/asig-estu"><%= data[0].asi_desc %></a>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>