<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/css/kado.css">
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <%- include('./partials/navigator.ejs') %>
        <main class="main e-main">
            <button class="blackBtn prev_button" onclick="window.location.href='http://localhost:3000/maine'">REGRESAR</button>
            <button class="blackBtn horario_button" onclick="openPopup()">VER HORARIO</button>
            <section class="info-curso">
				<h2><%= nomasig %></h2>
				<div class="box info-c">
					<h4>Responsable:</h4>
					<p><%= prof %></p>
					<h4>Sección:</h4>
					<p><%= seccion %></p>
					<h4>Horario:</h4>
					<% for (i=0; i<hotdia.length; i++){ %>
						<p class="dia-clase"><%= hotdia[i].DIA_CURSO %>: <%= hotdia[i].HORA_INICIO %> - <%= hotdia[i].HORA_FIN %></p>
					<% } %>
				</div>
          	</section>
            <form action="accion-estudiante" method="post" class="form-curso">
				<button type="submit" class="uni_button box" name="unidades">
					<img src="/icons/documento.png">
					<h2>UNIDADES</h2>
				</button>
				<button type="submit" class="evalu_button box" name="evaluaciones">
					<img src="/icons/evaluacion.png">
					<h2>EVALUACIONES</h2>
				</button>
				<button type="submit" class="nota_button box" name="notas">
					<img src="/icons/birrete.png">
					<h2>CALIFICACIONES</h2>
				</button>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>