<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/kado.css">
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <%- include('./partials/navigator.ejs') %>    
        <main class="main e-uni-main">
            <button class="blackBtn prev_button" onclick="window.history.back()">REGRESAR</button>
            <button class="blackBtn horario_button" onclick="openPopup()">VER HORARIO</button>
            <section class="box unidades">
                <h4>Unidad 1</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 1'){ %> 
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 1' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 2</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 2'){ %>
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 2' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 3</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 3'){ %> 
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 3' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 4</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 4'){ %>
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 4' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 5</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 5'){ %> 
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 5' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 6</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 6'){ %>
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 6' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 7</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 7'){ %> 
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 7' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <h4>Unidad 8</h4>
                <% for (i=0; i<archivos.length; i++){ %>
                    <% if(archivos[i].TITULOUNI == 'Unidad 8'){ %>
                        <div class="box box_unidad">
                            <h4><%= archivos[i].TITULOSES %></h4>
                            <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                            <div class="content">
                                <p>• <%= archivos[i].TITULOARC %></p>
                                <% for (j=0; j<evaluaciones.length; j++){ %>
                                    <% if(evaluaciones[j].TITULOUNI == 'Unidad 8' && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                        <p>• <%= evaluaciones[j].TITULOEVA %></p>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </section>
            
        </main>
        <footer class="footer-raro">
    
        </footer>
        <%- include('./partials/btn-mostrar-contenido.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>