<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/kado.css">
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <%- include('./partials/navigator.ejs') %>    
        <main class="main e-uni-main p-uni-main">
            <button class="blackBtn prev_button" onclick="window.location.href='http://localhost:3000/asig-estu'">REGRESAR</button>
            <button class="blackBtn horario_button" onclick="openPopup()">VER HORARIO</button>
            <h2><%= nomCurso %> / Evaluaciones</h2>
            <section class="box unidades p-uni">
                <% for (l=1; l<=8; l++){ %>
                    <h4>Unidad <%= l %></h4>
                    <% for (i=0; i<archivos.length; i++){ %>
                        <% if(archivos[i].TITULOUNI == 'Unidad ' + l){ %> 
                            <div class="box box_unidad">
                                <h4><%= archivos[i].TITULOSES %></h4>
                                <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                                <div class="content">
                                    <p><%= archivos[i].TITULOARC %></p>
                                    <p><img src="icons/enlace.png"></img> <a href="#"><%= archivos[i].LINKARC %></a></p>
                                    <% for (j=0; j<evaluaciones.length; j++){ %>
                                        <% if(evaluaciones[j].TITULOUNI == 'Unidad ' + l && evaluaciones[j].TITULOSES == archivos[i].TITULOSES){ %>
                                            <p><%= evaluaciones[j].TITULOEVA %></p>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>           
            </section>
        </main>
        <footer class="footer-raro">
    
        </footer>
        <%- include('./partials/btn-mostrar-contenido.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>