<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <%- include('./partials/navigator.ejs') %>    
        <main class="main">
            <button class="blackBtn horario_button" onclick="openPopup()">VER HORARIO</button>
            <form class="form-asig" action="/asignatura" method="POST"> 
                <% data.forEach(item => { %>
                    <button type="submit" class="btn-asig box" name="asignatura_<%= item.ID %>">
                        <h2><%= item.ASIGNATURA %></h2>
                    </button>
                <% }); %>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>
