<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/css/kado.css">
    <link rel="stylesheet" href="/css/poncho.css">
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <%- include('./partials/navigator.ejs') %>
        <main class="main e-main">
            <button class="blackBtn prev_button">AULA</button>
            <section>
            <h2>Evaluaciones</h2>
            <div class="box bimestres_container">
                <div class="bimestre">
                <h4>Bimestre 1</h4>
                <article class="box semana">
                    <p class="titulo_eval">Primera Practica Calificada</p>
                    <p class="fecha_eval">Fecha programada: 02/06/23</p>
                    <img src="/image/flechita.svg" alt="" class="flechita">
                    <p class="desc_eval">Desarrollar el enunciado del archivo</p>
                    <a href="http://google.com.pe"><img src="image/link.svg" alt="" class="logo_link">Link del archivo</a>
                    <!-- BOTON CALIFICAR --> 
                    <form action="" class="edit_form">
                    <button class="edit_btn">
                        <img src="/image/edit.svg" alt="" class="edit_logo">Calificar
                    </button>
                    </form>
                </article>
                <article class="box semana">
                    <p class="titulo_eval">Segunda Practica Calificada</p>
                    <img src="/image/flechita.svg" alt="" class="flechita girar180">
                </article>
                <article class="box semana agregar_semana">
                    <p>Agregar Evaluacion</p>
                    <img src="/image/plus.svg" alt="" class="icon_mas">
                </article>
                </div>
                <div class="bimestre">
                <h4>Bimestre 2</h4>
                <article class="box semana agregar_semana">
                    <p>Agregar Evaluacion</p>
                    <img src="/image/plus.svg" alt="" class="icon_mas">
                </article>
                </div>
                <div class="bimestre">
                <h4>Bimestre 3</h4>
                <article class="box semana agregar_semana">
                    <p>Agregar Evaluacion</p>
                    <img src="/image/plus.svg" alt="" class="icon_mas">
                </article>
                </div>
                <div class="bimestre">
                <h4>Bimestre 4</h4>
                <article class="box semana agregar_semana">
                    <p>Agregar Evaluacion</p>
                    <img src="/image/plus.svg" alt="" class="icon_mas">
                </article>
                </div>
            </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>