<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/kado.css">
</head>
<body>
    <% if (login) { %>
        <%- include('./partials/popup.ejs') %>
        <div id="form-editar-sesion" class="form-container" style="display: none;">
            <form method="post" action="/editar-post" class="form-editar">
                <button class="btn-cerrar" id="btnCerrarFormulario"><img src="/icons/cerrar.png"></button>
                <label>Nuevo nombre de clase:</label>
                <input name="nomClase" type="text" placeholder="Nombre de clase" required>
                <label>Nuevo link de clase</label>
                <input name="linkClase" type="text" placeholder="Link de clase" required>
                <input type="hidden" id="dataIdInput" name="sesionID">
                <button class="editar" type="submit">Editar</button>
            </form>
        </div>
        <%- include('./partials/navigator.ejs') %>    
        <main class="main e-uni-main p-uni-main">
            <button class="blackBtn prev_button" onclick="window.history.back()">REGRESAR</button>            
            <section class="box unidades p-uni">
                <% for (l=1; l<=8; l++){ %>
                    <h4>Unidad <%= l %></h4>
                    <% for (i=0; i<archivos.length; i++){ %>
                        <% if(archivos[i].TITULOUNI == 'Unidad ' + l){ %> 
                            <div class="box box_unidad">
                                <h4><%= archivos[i].TITULOSES %></h4>
                                <button class="toggle-btn"><img src="/icons/flecha-abajo.png"></button>
                                <div class="content">
                                    <p><%= archivos[i].TITULOARC %></p>
                                    <p><img src="icons/enlace.png"></img> <a href="#"><%= archivos[i].LINKARC %></a></p>
                                    <button data-id="<%= archivos[i].IDSESION %>" id="editar-form" class="btn-editar"><img src="/icons/editar.png"></button>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </section>
        </main>
        <footer class="footer-raro">
    
        </footer>
        <%- include('./partials/btn-mostrar-contenido.ejs') %>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al login</a>
    <% } %>
</body>
</html>